Repository shishihs/insurance_self_game, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, game, tests, documentation, configuration, dependencies

.github/labeler.yml:

# フロントエンド関連
frontend:
  - 'src/components/**/*'
  - 'src/App.vue'
  - 'src/main.ts'
  - '**/*.vue'

# バックエンド・ドメイン関連
backend:
  - 'src/domain/**/*'
  - 'src/application/**/*'
  - 'src/infrastructure/**/*'

# ゲームロジック関連
game:
  - 'src/game/**/*'
  - 'src/cui/**/*'

# テスト関連
tests:
  - 'src/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - 'vitest.config.ts'
  - 'src/test/**/*'

# ドキュメント関連
documentation:
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CLAUDE.md'
  - '**/*.md'

# 設定・インフラ関連
configuration:
  - '.github/**/*'
  - 'package.json'
  - 'tsconfig*.json'
  - 'vite.config.ts'
  - 'eslint.config.mjs'
  - '.gitignore'
  - '.npmrc'

# 依存関係
dependencies:
  - 'package.json'
  - 'package-lock.json'

Updates
  index.html
  js/MobileErrorHandler-CetpVoJ1N2VC.js
  js/MobileErrorHandler-CetpVoJ1N2VC.js.map
  js/MobileErrorHandler-I3ybmHfBHlo9.js
  js/MobileErrorHandler-I3ybmHfBHlo9.js.map
  js/game-logic-BE3vzGnH7o6Z.js
  js/game-logic-BE3vzGnH7o6Z.js.map
  js/game-logic-C83FUEgCdczH.js
  js/game-logic-C83FUEgCdczH.js.map
  js/index-BMvV8bhH.js
  js/index-BMvV8bhH.js.map
  js/index-BVUYmdWp.js
  js/index-BVUYmdWp.js.map
  js/vendor-7yP_7YgP.js
  js/vendor-7yP_7YgP.js.map
  js/vendor-Dqt18Tvp.js
  js/vendor-Dqt18Tvp.js.map
  js/vue-vendor-CRR1GGXG.js
  js/vue-vendor-CRR1GGXG.js.map
  js/vue-vendor-jcWq-its.js
  js/vue-vendor-jcWq-its.js.map
  service-worker.js
Labels: none

Updates
  index.html
  js/MobileErrorHandler-Am87Ewn-at9c.js
  js/MobileErrorHandler-Am87Ewn-at9c.js.map
  js/MobileErrorHandler-CetpVoJ1N2VC.js
  js/MobileErrorHandler-CetpVoJ1N2VC.js.map
  js/index-BVUYmdWp.js
  js/index-BVUYmdWp.js.map
  js/index-DwxMhSkg.js
  js/index-DwxMhSkg.js.map
Labels: none

Updates
  service-worker.js
Labels: none

fix: advance phase after drawing cards
  src/domain/entities/Game.ts
  src/domain/services/GameActionProcessor.ts
Labels: backend

Revert "fix: advance phase after drawing cards"
  src/domain/entities/Game.ts
  src/domain/services/GameActionProcessor.ts
Labels: backend

chore: add debug logs for hand visibility
  src/components/game/GameBoard.vue
  src/components/game/Hand.vue
Labels: frontend

chore: add more debug logs to CardManager
  src/domain/services/CardManager.ts
Labels: backend

chore: add version timestamp to footer
  src/App.vue
Labels: frontend

chore: move version info to console log
  src/App.vue
Labels: frontend

refactor: use explicit reactive state in gameStore to fix UI updates
  src/stores/gameStore.ts
Labels: none

Fix UI layout: hand overlap, card text clipping, and global app constraints
  docs/development/TROUBLESHOOTING.md
  src/components/accessibility/UniversalAccessibilityManager.vue
  src/components/game/Card.vue
  src/components/game/GameBoard.vue
  src/components/game/Hand.vue
  src/style.css
Labels: frontend, documentation

Updates
  css/index-DNdxIVyt.css
  css/index-XwVb71tN.css
  index.html
  js/MobileErrorHandler-Am87Ewn-at9c.js
  js/MobileErrorHandler-Am87Ewn-at9c.js.map
  js/MobileErrorHandler-C60tA65ohahU.js
  js/MobileErrorHandler-C60tA65ohahU.js.map
  js/game-logic-BXDevuye-AQp.js
  js/game-logic-BXDevuye-AQp.js.map
  js/game-logic-C83FUEgCdczH.js
  js/game-logic-C83FUEgCdczH.js.map
  js/index-B3EWEJZm.js
  js/index-B3EWEJZm.js.map
  js/index-DwxMhSkg.js
  js/index-DwxMhSkg.js.map
Labels: none

feat(v2): implement core game loop with Dream/Challenge selection and Insurance Market
  docs/RULEBOOK.md
  docs/development/MCP_GUIDELINES.md
  playwright.config.ts
  src/__tests__/integration/GameLoop.v2.test.ts
  src/__tests__/unit/domain/services/CardManager.test.ts
  src/__tests__/unit/domain/services/GameActionProcessor.test.ts
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/components/game/Card.vue
  src/components/game/ChallengeSelector.vue
  src/components/game/DreamSelector.vue
  src/components/game/GameBoard.vue
  src/components/game/GameResult.vue
  src/components/game/InsuranceMarket.vue
  src/domain/entities/Game.ts
  src/domain/services/CardFactory.ts
  src/domain/services/CardManager.ts
  src/domain/services/GameActionProcessor.ts
  src/domain/services/GameChallengeService.ts
  src/domain/services/GameInsuranceService.ts
  src/domain/services/GameTurnManager.ts
  src/domain/types/card.types.ts
  src/domain/types/game.types.ts
  src/stores/gameStore.ts
  tests/e2e/game-loop-verification.spec.ts
  tests/e2e/github-pages-verification.spec.ts
  vite.config.ts
Labels: frontend, backend, tests, documentation, configuration

fix(e2e): add data-testid to GameBoard and update verification tests
  src/components/game/GameBoard.vue
  tests/e2e/github-pages-verification.spec.ts
Labels: frontend

test: add e2e test for v2 gameplay flow on production
  tests/e2e/github-pages-verification.spec.ts
Labels: none

feat(ui): localize to Japanese only, fix layout issues, and remove i18n
  src/App.vue
  src/components/game/ChallengeSelector.vue
  src/components/game/DreamSelector.vue
  src/components/game/GameBoard.vue
  src/components/game/TutorialOverlay.vue
  src/components/i18n/LanguageSwitcher.vue
  src/controllers/GameController.ts
  src/cui/modes/TutorialMode.ts
  src/cui/renderers/InteractiveCUIRenderer.ts
  src/i18n/index.ts
  src/i18n/locales/en.ts
  src/i18n/locales/ja.ts
  src/i18n/locales/ko.ts
  src/i18n/locales/zh.ts
  src/i18n/regional-settings.ts
  src/interfaces/GameRenderer.ts
  src/main.ts
  src/stores/gameStore.ts
  tests/e2e/game-loop-verification.spec.ts
Labels: frontend, game

Updates
  css/index-D-4Mg4jw.css
  css/index-XwVb71tN.css
  index.html
  js/MobileErrorHandler-C60tA65ohahU.js
  js/MobileErrorHandler-C60tA65ohahU.js.map
  js/MobileErrorHandler-D1CwIvNuxcrT.js
  js/MobileErrorHandler-D1CwIvNuxcrT.js.map
  js/index-B3EWEJZm.js
  js/index-B3EWEJZm.js.map
  js/index-DrgccW_t.js
  js/index-DrgccW_t.js.map
  js/vendor-CwZoOl0N.js
  js/vendor-CwZoOl0N.js.map
  js/vendor-Dqt18Tvp.js
  js/vendor-Dqt18Tvp.js.map
  js/vue-vendor-C2HpI3kE.js
  js/vue-vendor-C2HpI3kE.js.map
  js/vue-vendor-CRR1GGXG.js
  js/vue-vendor-CRR1GGXG.js.map
Labels: none

docs: add documentation maintenance guidelines and finalize UI localization
  docs/development/DEVELOPMENT.md
  src/components/game/GameBoard.vue
Labels: frontend, documentation

Updates
  css/index-Cojn0eKX.css
  css/index-D-4Mg4jw.css
  index.html
  js/MobileErrorHandler-BrIWCq-PVXyh.js
  js/MobileErrorHandler-BrIWCq-PVXyh.js.map
  js/MobileErrorHandler-D1CwIvNuxcrT.js
  js/MobileErrorHandler-D1CwIvNuxcrT.js.map
  js/game-logic-BXDevuye-AQp.js
  js/game-logic-BXDevuye-AQp.js.map
  js/game-logic-D6nvZx-osByz.js
  js/game-logic-D6nvZx-osByz.js.map
  js/index-CUAWYSnq.js
  js/index-CUAWYSnq.js.map
  js/index-DrgccW_t.js
  js/index-DrgccW_t.js.map
Labels: none

fix(ui): resolve z-index issue preventing card selection and update tests
  src/components/game/Hand.vue
  src/domain/services/CardManager.ts
  tests/e2e/game-loop-verification.spec.ts
  tests/e2e/github-pages-verification.spec.ts
Labels: frontend, backend

Updates
  index.html
  js/MobileErrorHandler-BrIWCq-PVXyh.js
  js/MobileErrorHandler-BrIWCq-PVXyh.js.map
  js/MobileErrorHandler-WPpGFazDFKSb.js
  js/MobileErrorHandler-WPpGFazDFKSb.js.map
  js/index-CEsiSAOz.js
  js/index-CEsiSAOz.js.map
  js/index-CUAWYSnq.js
  js/index-CUAWYSnq.js.map
Labels: none

feat: E2E境界値テストと勝利条件判定の追加
  src/__tests__/integration/GameE2E_Boundary.test.ts
  src/__tests__/integration/GameE2E_FullLoop.test.ts
  src/domain/entities/Game.ts
  src/domain/services/CardManager.ts
  src/domain/services/GameTurnManager.ts
Labels: backend, tests

chore: 残りの変更をコミット（CI修正）
  docs/architecture/REFACTORING_PROGRESS.md
  docs/architecture/REFACTORING_STRATEGY.md
  docs/development/DEPLOYMENT.md
  docs/development/E2E_TESTING.md
  docs/development/TECHNICAL_DEBT.md
  docs/development/TUTORIAL_SYSTEM.md
  docs/manual/GAME_MANUAL.md
  src/App.vue
  src/application/services/GameApplicationService.ts
  src/architecture/application/services/interfaces.ts
  src/architecture/patterns/creational/ServiceFactory.ts
  src/architecture/presentation/composables/useGameCards.ts
  src/architecture/presentation/composables/useGameState.ts
  src/components/error/ErrorBoundary.vue
  src/components/game/GameResult.vue
  src/components/game/TutorialOverlay.vue
  src/components/layout/AppHeader.vue
  src/components/layout/NavigationActions.vue
  src/cui/modes/DemoMode.ts
  src/cui/modes/TutorialMode.ts
  src/cui/renderers/InteractiveCUIRenderer.ts
  src/domain/services/GameChallengeService.ts
  src/domain/services/__tests__/CardFactory.paranoid-random.OLD.test.ts
  src/domain/services/__tests__/CardFactory.paranoid-random.OLD2.test.ts
  src/domain/services/__tests__/CardFactory.paranoid-random.OLD3.test.ts
  src/stores/gameStore.ts
  src/style.css
  src/styles/brand-elements.css
  src/styles/micro-interactions.css
  src/utils/error-handling/ErrorHandler.ts
  test_debug_output.txt
  test_debug_output_2.txt
  test_debug_output_3.txt
  test_debug_output_4.txt
  test_output.txt
  test_preview_output.txt
  test_preview_output_2.txt
  test_stage_transition_fix.txt
  tests/e2e/game-clear-verification.spec.ts
Labels: frontend, backend, game, tests, documentation

refactor: remove drawCardsSync and fix tests
  docs/architecture/REFACTORING_PROGRESS.md
  docs/architecture/REFACTORING_STRATEGY.md
  src/__tests__/game/scenes/GameScene.test.ts
  src/domain/__tests__/Game.test.ts
  src/domain/entities/Game.ts
  src/domain/entities/__tests__/Game.paranoid-state.test.ts
  src/domain/services/__tests__/EventSystem.paranoid-observer.test.ts
Labels: backend, tests, documentation

refactor: remove dead tests and fix domain test issues
  src/__tests__/components/ui-destruction/AccessibilityLimitTests.test.ts
  src/__tests__/components/ui-destruction/BasicDestructionTest.test.ts
  src/__tests__/components/ui-destruction/BrowserCompatibilityTests.test.ts
  src/__tests__/components/ui-destruction/DestructionTestRunner.test.ts
  src/__tests__/components/ui-destruction/GameCanvasDestruction.test.ts
  src/__tests__/components/ui-destruction/README.md
  src/__tests__/components/ui-destruction/ResponsiveBreakageTests.test.ts
  src/__tests__/components/ui-destruction/SwipeGestureDestruction.test.ts
  src/__tests__/components/ui-destruction/UIComponentDestructionSuite.test.ts
  src/__tests__/components/ui-destruction/test-utilities.ts
  src/__tests__/renderers/PhaserGameRenderer.test.ts
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/domain/entities/__tests__/Game.insurance-simplified.test.ts
  src/domain/entities/__tests__/Game.insurance-type-selection.test.ts
  src/domain/services/__tests__/InsuranceDamageReduction.test.ts
  test_output.txt
Labels: backend, tests, documentation

fix(ui): adjust layout for mobile and remove title artifacts
  src/App.vue
  src/components/layout/AppHeader.vue
  src/components/layout/NavigationActions.vue
Labels: frontend

Updates
  css/index-Cojn0eKX.css
  css/index-DPVdzWzt.css
  index.html
  js/MobileErrorHandler-CF1gEhBHiAZ-.js
  js/MobileErrorHandler-CF1gEhBHiAZ-.js.map
  js/MobileErrorHandler-WPpGFazDFKSb.js
  js/MobileErrorHandler-WPpGFazDFKSb.js.map
  js/game-logic-BlTRqJhEYbKl.js
  js/game-logic-BlTRqJhEYbKl.js.map
  js/game-logic-D6nvZx-osByz.js
  js/game-logic-D6nvZx-osByz.js.map
  js/index-CEsiSAOz.js
  js/index-CEsiSAOz.js.map
  js/index-CLCnR6AM.js
  js/index-CLCnR6AM.js.map
Labels: none

fix: correct insurance precision tests using integer logic, fix RiskProfile architecture, and stabilize CUI/ErrorHandling tests
  docs/development/FIX_PLAN.md
  src/__tests__/cui/renderers/InteractiveCUIRenderer.test.ts
  src/__tests__/error-handling/ErrorHandling.test.ts
  src/__tests__/unit/GameActionProcessor.test.ts
  src/components/game/GameBoard.vue
  src/domain/entities/__tests__/Card.factory.test.ts
  src/domain/entities/__tests__/Game.insurance-type-selection.test.ts
  src/domain/services/CardFactory.ts
  src/domain/services/GameChallengeService.ts
  src/domain/services/GameInsuranceService.ts
  src/domain/services/GameTurnManager.ts
  src/domain/services/__tests__/Insurance.paranoid-precision.test.ts
  src/domain/services/__tests__/InsurancePremiumCalculationService.test.ts
  src/domain/valueObjects/RiskFactor.ts
  src/domain/valueObjects/RiskProfile.ts
  src/domain/valueObjects/__tests__/RiskFactor.test.ts
  src/stores/gameStore.ts
Labels: frontend, backend, tests, documentation

Updates
  css/index-D0w0d64E.css
  css/index-DPVdzWzt.css
  index.html
  js/MobileErrorHandler-CF1gEhBHiAZ-.js
  js/MobileErrorHandler-CF1gEhBHiAZ-.js.map
  js/MobileErrorHandler-LyrE-vnm1J5P.js
  js/MobileErrorHandler-LyrE-vnm1J5P.js.map
  js/index-C4wly9QA.js
  js/index-C4wly9QA.js.map
  js/index-CLCnR6AM.js
  js/index-CLCnR6AM.js.map
Labels: none

chore: bump version to v2025.12.08.0025 and update fix plan
  docs/development/FIX_PLAN.md
  src/App.vue
Labels: frontend, documentation

refactor: optimize z-index management with semantic tokens and bump version
  src/App.vue
  src/components/game/ChallengeSelector.vue
  src/components/game/DreamSelector.vue
  src/components/game/GameBoard.vue
  uno.config.ts
Labels: frontend

fix(store): robustify insuranceTypeChoices reactivity and safe logging
  src/App.vue
  src/domain/services/GameChallengeService.ts
  src/stores/gameStore.ts
Labels: frontend, backend

fix(game): fix game-over UI, initial hand draw, and discard logic
  src/App.vue
  src/components/game/GameBoard.vue
  src/domain/services/CardManager.ts
  src/domain/services/GameTurnManager.ts
Labels: frontend, backend

feat(balance): impose hard mode (reduced vitality, increased costs)
  src/App.vue
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
Labels: frontend, backend

Updates
  css/index-CsYhwi82.css
  css/index-D0w0d64E.css
  index.html
  js/MobileErrorHandler-BePzHwIXkHOX.js
  js/MobileErrorHandler-BePzHwIXkHOX.js.map
  js/MobileErrorHandler-LyrE-vnm1J5P.js
  js/MobileErrorHandler-LyrE-vnm1J5P.js.map
  js/game-logic-BlTRqJhEYbKl.js
  js/game-logic-BlTRqJhEYbKl.js.map
  js/game-logic-DW2FukcBo1b-.js
  js/game-logic-DW2FukcBo1b-.js.map
  js/index-C4wly9QA.js
  js/index-C4wly9QA.js.map
  js/index-YnlnKdwp.js
  js/index-YnlnKdwp.js.map
Labels: none

🐛 Fix hand jump bug & verify game clear
  docs/RULEBOOK.md
  playwright.config.ts
  src/App.vue
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/components/game/GameBoard.vue
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
  src/domain/services/CardFactory.ts
  src/domain/services/GameTurnManager.ts
  src/stores/gameStore.ts
  tests/e2e/game_clear_verification.spec.ts
Labels: frontend, backend, tests, documentation

🔖 Update version to v2025.12.09.0155
  src/App.vue
Labels: frontend

🐛 Hide hand cards on game over/victory
  src/components/game/Hand.vue
Labels: frontend

🎨 Fix UI issues: Stage labels JP, hide hand during overlays, update tutorial
  src/components/game/GameBoard.vue
  src/components/game/Hand.vue
  src/components/game/TutorialOverlay.vue
Labels: frontend

🔖 Version bump: v2025.12.09.0212 - UI Polish
  src/App.vue
Labels: frontend
