Repository shishihs/insurance_self_game, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, game, tests, documentation, configuration, dependencies

fix: ゲーム初回起動時の黒画面問題を修正
  src/game/scenes/GameScene.ts
  src/test/setup.ts
Labels: game, tests

fix: Skip problematic test files to stabilize test suite
  src/__tests__/game/AssetLoading.startup-failure.test.ts
  src/__tests__/game/BrowserCompatibility.startup-failure.test.ts
  src/__tests__/game/GameManager.startup-failure.test.ts
  src/__tests__/game/RaceConditions.startup-failure.test.ts
  src/__tests__/game/UserExperience.startup-failure.test.ts
  src/__tests__/unit/ValueObjectsRobustnessTests.test.ts
  src/game/systems/__tests__/DropZoneIntegration.test.ts
Labels: game, tests

fix: テスト環境の問題修正とGameManagerのエラーハンドリング改善
  src/__tests__/game/UserExperience.startup-failure.test.ts
  src/game/GameManager.ts
Labels: game, tests

fix: ESLintエラーの大幅修正（1319→1177件）
  src/utils/security-extensions.ts
  src/utils/security.ts
  src/utils/xss-csrf-protection.ts
Labels: none

fix: TypeScript型エラー修正 - setTimeout型定義とインポートパス
  src/__tests__/error-handling/comprehensive-error-handling.test.ts
  src/game/systems/TutorialManager.ts
  src/performance/GamePerformanceAnalyzer.ts
Labels: game, tests

fix: Critical TypeScript compilation errors for successful deployment
  src/__tests__/integration/DataPersistence.test.ts
  src/__tests__/integration/comprehensive-integration.test.ts
  src/performance/GamePerformanceAnalyzer.ts
Labels: tests

fix: ゲーム初期化とカード操作の問題を修正
  src/components/game/GameCanvas.vue
  src/game/scenes/GameScene.ts
Labels: frontend, game

fix: ゲーム初期化とカード操作の問題を修正 (#27)
  src/components/game/GameCanvas.vue
  src/game/scenes/GameScene.ts
Labels: frontend, game

fix: GitHub Actions のエラーを修正し、全てのチェックを成功させる
  src/__tests__/components/ui-destruction/BrowserCompatibilityTests.test.ts
  src/__tests__/components/ui-destruction/UIComponentDestructionSuite.test.ts
  src/__tests__/components/ui-destruction/test-utilities.ts
  src/__tests__/controllers/GameController.test.ts
  src/__tests__/utils/TestHelpers.ts
  src/utils/security-extensions.ts
  src/utils/security.ts
  src/utils/xss-csrf-protection.ts
Labels: tests

fix: GitHub Actions のエラーを修正し、全てのチェックを成功させる (#28)
  src/__tests__/components/ui-destruction/BrowserCompatibilityTests.test.ts
  src/__tests__/components/ui-destruction/UIComponentDestructionSuite.test.ts
  src/__tests__/components/ui-destruction/test-utilities.ts
  src/__tests__/controllers/GameController.test.ts
  src/__tests__/utils/TestHelpers.ts
  src/utils/security-extensions.ts
  src/utils/security.ts
  src/utils/xss-csrf-protection.ts
Labels: tests

fix: Issue #22 - カード配布機能の修正
  src/game/scenes/GameScene.ts
Labels: game

cleanup: Claude Codeのhooks設定を削除
  .claude/config.json
  .claude/hooks/post-bash.cjs
  .claude/hooks/pre-bash-v2.cjs
  .claude/hooks/pre-bash.cjs
  .claude/hooks/pre-commit.cjs
  .claude/hooks/task-complete.cjs
  .claude/settings.json
  .claude/test-dangerous-commands.cjs
  .claude/test-hooks.cjs
  scripts/hooks/bash-completed.js
  scripts/hooks/dangerous-command-guard.js
  scripts/hooks/file-edited.js
  scripts/hooks/npm-guard.js
  scripts/hooks/session-end.js
  scripts/hooks/task-complete.sh
  scripts/hooks/todo-updated.js
  scripts/setup/setup-hooks.sh
  scripts/setup/validate-hooks.py
Labels: none

fix: Resolve critical test compilation errors for successful deployment
  src/__tests__/integration/DataPersistence.test.ts
  src/__tests__/stress/stress-tests.test.ts
  src/domain/services/__tests__/CardFactory.paranoid-random.OLD2.test.ts
  src/performance/MemoryProfiler.ts
Labels: backend, tests

fix: Issue #21 - ゲーム開始時の黒画面問題を修正
  src/components/game/GameCanvas.vue
  src/game/GameManager.ts
  src/game/config/gameConfig.ts
Labels: frontend, game

fix: Issue #23 - ゲームバランス調整：中盤以降の急激な難易度上昇を緩和
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
Labels: backend

fix: 保険システムのテスト失敗を修正
  src/domain/services/GameInsuranceService.ts
Labels: backend

revert: 保険システムの修正を元に戻す
  src/domain/services/GameInsuranceService.ts
Labels: backend

fix(#24): 保険システムのバランス調整 - 過度に強力な効果を緩和
  src/domain/constants/insurance.constants.ts
  src/domain/entities/Card.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/__tests__/InsuranceDamageReduction.test.ts
Labels: backend, tests

feat(#25): 手札・デッキ情報の表示改善
  src/__tests__/cui/renderers/InteractiveCUIRenderer.test.ts
  src/__tests__/game/scenes/GameScene.test.ts
  src/cui/renderers/InteractiveCUIRenderer.ts
  src/game/scenes/GameScene.ts
Labels: game, tests

feat(#26): AI戦略の多様化実装
  src/__tests__/domain/services/AIStrategyService.test.ts
  src/components/settings/AIStrategySettings.vue
  src/components/settings/GameGeneralSettings.vue
  src/components/settings/GameSettings.vue
  src/components/settings/GameStatistics.vue
  src/components/settings/SoundSettings.vue
  src/domain/entities/Game.ts
  src/domain/services/AIStrategyService.ts
Labels: frontend, backend, tests

fix(test): テスト環境の問題修正 (#20)
  src/__tests__/e2e/UnifiedGameLauncher.test.ts
  src/performance/MemoryProfiler.ts
Labels: tests

fix(lint): ESLintの自動修正を適用 (#19)
  src/components/settings/AIStrategySettings.vue
  src/components/settings/GameGeneralSettings.vue
  src/components/settings/GameSettings.vue
  src/components/settings/SoundSettings.vue
Labels: frontend

feat(performance): パフォーマンス最適化の実装 (#13)
  index.html
  src/game/config/gameConfig.ts
  src/performance/MobilePerformanceManager.ts
Labels: game

fix: Remove problematic font preload causing 404 error
  index.html
Labels: none

fix: Service Worker paths for GitHub Pages deployment
  src/utils/pwa-manager.ts
  src/utils/serviceWorkerManager.ts
Labels: none

debug: Add comprehensive logging to card dealing process
  src/domain/services/CardFactory.ts
Labels: backend

fix: 保険料負担計算のテスト失敗を修正
  src/domain/services/GameInsuranceService.ts
Labels: backend

fix: RealTimeMonitor.tsの型定義エラーを修正
  src/performance/RealTimeMonitor.ts
Labels: none

fix: カード配布エラーを修正 (#42)
  src/domain/services/GameActionProcessor.ts
Labels: backend

test: GameActionProcessorのテストを追加
  src/__tests__/unit/GameActionProcessor.test.ts
Labels: tests

fix: Adjust card Y positions to ensure full visibility (#40)
  src/game/config/gameConfig.ts
Labels: game

fix: カードが画面下部で切れる問題を修正 (#40) (#44)
  src/__tests__/unit/GameActionProcessor.test.ts
  src/domain/services/GameActionProcessor.ts
  src/game/config/gameConfig.ts
Labels: backend, game, tests

fix: Service Worker path issues for GitHub Pages deployment (#39)
  public/service-worker.js
  src/utils/pwa-manager.ts
  src/utils/serviceWorkerManager.ts
Labels: none

fix: Service Worker path issues for GitHub Pages deployment (#39) (#45)
  public/service-worker.js
  src/utils/pwa-manager.ts
  src/utils/serviceWorkerManager.ts
Labels: none

Updates
  index.html
  js/MobileErrorHandler-BRrrHLkgh4HU.js
  js/MobileErrorHandler-BRrrHLkgh4HU.js.map
  js/MobileErrorHandler-FQUbFxXsMR8H.js
  js/MobileErrorHandler-FQUbFxXsMR8H.js.map
  js/analytics-C86SJn4N-d5L.js
  js/analytics-C86SJn4N-d5L.js.map
  js/analytics-yRTfW0WqWt72.js
  js/analytics-yRTfW0WqWt72.js.map
  js/feedback-GtyItvJ2eE-G.js
  js/feedback-GtyItvJ2eE-G.js.map
  js/feedback-Rjo5i6iIee7n.js
  js/feedback-Rjo5i6iIee7n.js.map
  js/game-logic-CE8B7gRniTtZ.js
  js/game-logic-CE8B7gRniTtZ.js.map
  js/game-logic-DYnrwjUu8iwv.js
  js/game-logic-DYnrwjUu8iwv.js.map
  js/index-DT3u2sKU.js
  js/index-DT3u2sKU.js.map
  js/index-t3J768CE.js
  js/index-t3J768CE.js.map
Labels: none

feat: Implement difficulty adjustment CLI and rulebook
  balance-config.sample.json
  docs/RULEBOOK.md
  scripts/tune_balance.ts
  src/benchmark/MassiveBenchmark.ts
  src/components/game/GameBoard.vue
  src/cui/difficulty-cli.ts
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
  src/domain/services/DifficultyBalanceService.ts
  src/domain/types/game.types.ts
  tests/e2e/github-pages-verification.spec.ts
Labels: frontend, backend, game, documentation

fix: Include GameController in production build
  vite.config.ts
Labels: configuration

ミニマルUIへのクリーンアップ - 不要な開発関連要素を削除
  README.md
  src/App.vue
  src/components/layout/FeatureShowcase.vue
  src/components/layout/NavigationActions.vue
Labels: frontend, documentation

Updates
  css/analytics-BQHCqjr6.css
  css/feedback-e4moMCIz.css
  css/index-BxJHKZZP.css
  css/index-DNdxIVyt.css
  index.html
  js/MobileErrorHandler-DoDCXJNTIJNv.js
  js/MobileErrorHandler-DoDCXJNTIJNv.js.map
  js/MobileErrorHandler-FQUbFxXsMR8H.js
  js/MobileErrorHandler-FQUbFxXsMR8H.js.map
  js/analytics-yRTfW0WqWt72.js
  js/analytics-yRTfW0WqWt72.js.map
  js/chart-vendor--kNoNNFK7XBt.js
  js/chart-vendor--kNoNNFK7XBt.js.map
  js/feedback-Rjo5i6iIee7n.js
  js/feedback-Rjo5i6iIee7n.js.map
  js/game-logic-BE3vzGnH7o6Z.js
  js/game-logic-BE3vzGnH7o6Z.js.map
  js/game-logic-DYnrwjUu8iwv.js
  js/game-logic-DYnrwjUu8iwv.js.map
  js/index-DJWXLRz1.js
  js/index-DJWXLRz1.js.map
  js/index-t3J768CE.js
  js/index-t3J768CE.js.map
  js/vendor-7yP_7YgP.js
  js/vendor-7yP_7YgP.js.map
  js/vendor-CRDobNJa.js
  js/vendor-CRDobNJa.js.map
  js/vue-vendor-CHt8BYjp.js
  js/vue-vendor-CHt8BYjp.js.map
  js/vue-vendor-jcWq-its.js
  js/vue-vendor-jcWq-its.js.map
Labels: none

Updates
  index.html
  js/MobileErrorHandler-DoDCXJNTIJNv.js
  js/MobileErrorHandler-DoDCXJNTIJNv.js.map
  js/MobileErrorHandler-I3ybmHfBHlo9.js
  js/MobileErrorHandler-I3ybmHfBHlo9.js.map
  js/index-BMvV8bhH.js
  js/index-BMvV8bhH.js.map
  js/index-DJWXLRz1.js
  js/index-DJWXLRz1.js.map
Labels: none

.github/labeler.yml:

# フロントエンド関連
frontend:
  - 'src/components/**/*'
  - 'src/App.vue'
  - 'src/main.ts'
  - '**/*.vue'

# バックエンド・ドメイン関連
backend:
  - 'src/domain/**/*'
  - 'src/application/**/*'
  - 'src/infrastructure/**/*'

# ゲームロジック関連
game:
  - 'src/game/**/*'
  - 'src/cui/**/*'

# テスト関連
tests:
  - 'src/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - 'vitest.config.ts'
  - 'src/test/**/*'

# ドキュメント関連
documentation:
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CLAUDE.md'
  - '**/*.md'

# 設定・インフラ関連
configuration:
  - '.github/**/*'
  - 'package.json'
  - 'tsconfig*.json'
  - 'vite.config.ts'
  - 'eslint.config.mjs'
  - '.gitignore'
  - '.npmrc'

# 依存関係
dependencies:
  - 'package.json'
  - 'package-lock.json'
