Repository shishihs/insurance_self_game, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, game, tests, documentation, configuration, dependencies

.github/labeler.yml:

# フロントエンド関連
frontend:
  - 'src/components/**/*'
  - 'src/App.vue'
  - 'src/main.ts'
  - '**/*.vue'

# バックエンド・ドメイン関連
backend:
  - 'src/domain/**/*'
  - 'src/application/**/*'
  - 'src/infrastructure/**/*'

# ゲームロジック関連
game:
  - 'src/game/**/*'
  - 'src/cui/**/*'

# テスト関連
tests:
  - 'src/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - 'vitest.config.ts'
  - 'src/test/**/*'

# ドキュメント関連
documentation:
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CLAUDE.md'
  - '**/*.md'

# 設定・インフラ関連
configuration:
  - '.github/**/*'
  - 'package.json'
  - 'tsconfig*.json'
  - 'vite.config.ts'
  - 'eslint.config.mjs'
  - '.gitignore'
  - '.npmrc'

# 依存関係
dependencies:
  - 'package.json'
  - 'package-lock.json'

Updates
  css/index-B3COamNZ.css
  css/index-DiRpxEqo.css
  index.html
  js/MobileErrorHandler-CnvwXCw83V4E.js
  js/MobileErrorHandler-CnvwXCw83V4E.js.map
  js/MobileErrorHandler-PN3XFxXAa19q.js
  js/MobileErrorHandler-PN3XFxXAa19q.js.map
  js/game-logic-BXWWdnPkjtlU.js
  js/game-logic-BXWWdnPkjtlU.js.map
  js/game-logic-DxIjJLcYY6ri.js
  js/game-logic-DxIjJLcYY6ri.js.map
  js/index-B0nuOEg5.js
  js/index-B0nuOEg5.js.map
  js/index-BmNji56z.js
  js/index-BmNji56z.js.map
Labels: none

feat: Insurance System Revamp (V3) - Rule changes and Cost-based choices
  docs/design/GAME_DESIGN.md
  docs/user/RULEBOOK.md
  src/ai/PersonaGameRenderer.ts
  src/ai/Personas.ts
  src/cli/verify-balance.ts
  src/components/game/Hand.vue
  src/controllers/GameController.ts
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/__tests__/InsuranceDamageReduction.test.ts
  src/domain/types/game.types.ts
Labels: frontend, backend, tests, documentation

Updates
  css/index-B3COamNZ.css
  css/index-TshtF0Ye.css
  index.html
  js/MobileErrorHandler-CW0XD0EYG-6a.js
  js/MobileErrorHandler-CW0XD0EYG-6a.js.map
  js/MobileErrorHandler-CnvwXCw83V4E.js
  js/MobileErrorHandler-CnvwXCw83V4E.js.map
  js/game-logic-BXWWdnPkjtlU.js
  js/game-logic-BXWWdnPkjtlU.js.map
  js/game-logic-D_4f_m8G5Lqu.js
  js/game-logic-D_4f_m8G5Lqu.js.map
  js/index-B0nuOEg5.js
  js/index-B0nuOEg5.js.map
  js/index-DN16TQin.js
  js/index-DN16TQin.js.map
Labels: none

feat: Balance adjustments (V3.2 Hardcore) and UI improvements
  src/ai/Personas.ts
  src/components/game/GameBoard.vue
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
Labels: frontend, backend

Updates
  css/index-C349TkgA.css
  css/index-TshtF0Ye.css
  index.html
  js/MobileErrorHandler-CW0XD0EYG-6a.js
  js/MobileErrorHandler-CW0XD0EYG-6a.js.map
  js/MobileErrorHandler-CawLCzLRYTrO.js
  js/MobileErrorHandler-CawLCzLRYTrO.js.map
  js/game-logic-C9G-s_6xD_pZ.js
  js/game-logic-C9G-s_6xD_pZ.js.map
  js/game-logic-D_4f_m8G5Lqu.js
  js/game-logic-D_4f_m8G5Lqu.js.map
  js/index-C2kFwbpf.js
  js/index-C2kFwbpf.js.map
  js/index-DN16TQin.js
  js/index-DN16TQin.js.map
Labels: none

fix: V3.2.1 Critical Bug Fixes (Initial Vitality 120 -> 20, Removed Dream Card Leak)
  src/components/game/GameBoard.vue
  src/domain/entities/Game.ts
Labels: frontend, backend

Updates
  css/index-BNUWuqUY.css
  css/index-C349TkgA.css
  index.html
  js/MobileErrorHandler-CawLCzLRYTrO.js
  js/MobileErrorHandler-CawLCzLRYTrO.js.map
  js/MobileErrorHandler-Cwm8q_Kp4dzt.js
  js/MobileErrorHandler-Cwm8q_Kp4dzt.js.map
  js/game-logic-C9G-s_6xD_pZ.js
  js/game-logic-C9G-s_6xD_pZ.js.map
  js/game-logic-VqeLT8D0n26Z.js
  js/game-logic-VqeLT8D0n26Z.js.map
  js/index-C2kFwbpf.js
  js/index-C2kFwbpf.js.map
  js/index-CRVEWc1s.js
  js/index-CRVEWc1s.js.map
Labels: none

feat: V3.3 Deck/Discard Viewers & Debug Tracing
  src/components/game/CardListModal.vue
  src/components/game/GameBoard.vue
  src/domain/entities/Deck.ts
  src/stores/gameStore.ts
Labels: frontend, backend

Updates
  css/index-BNUWuqUY.css
  css/index-BwMDXRkg.css
  index.html
  js/MobileErrorHandler-Cwm8q_Kp4dzt.js
  js/MobileErrorHandler-Cwm8q_Kp4dzt.js.map
  js/MobileErrorHandler-T2gaR2-I4SNs.js
  js/MobileErrorHandler-T2gaR2-I4SNs.js.map
  js/game-logic-CwgPnIiMkXiN.js
  js/game-logic-CwgPnIiMkXiN.js.map
  js/game-logic-VqeLT8D0n26Z.js
  js/game-logic-VqeLT8D0n26Z.js.map
  js/index-CHUjcqj8.js
  js/index-CHUjcqj8.js.map
  js/index-CRVEWc1s.js
  js/index-CRVEWc1s.js.map
Labels: none

fix: V3.3.1 - Fix Deck Viewer interaction (z-index) and Limit Dream Cards to 1
  src/components/game/GameBoard.vue
  src/domain/services/CardFactory.ts
Labels: frontend, backend

Updates
  css/index-BwMDXRkg.css
  css/index-CYjR2wzf.css
  index.html
  js/MobileErrorHandler-ClrD-f69gEfG.js
  js/MobileErrorHandler-ClrD-f69gEfG.js.map
  js/MobileErrorHandler-T2gaR2-I4SNs.js
  js/MobileErrorHandler-T2gaR2-I4SNs.js.map
  js/game-logic-CwgPnIiMkXiN.js
  js/game-logic-CwgPnIiMkXiN.js.map
  js/game-logic-DGxBAItDElYA.js
  js/game-logic-DGxBAItDElYA.js.map
  js/index-CHUjcqj8.js
  js/index-CHUjcqj8.js.map
  js/index-CubAN4Hl.js
  js/index-CubAN4Hl.js.map
Labels: none

chore: V3.3.1 - Update App Version Console Log
  src/App.vue
Labels: frontend
