Repository shishihs/insurance_self_game, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, game, tests, documentation, configuration, dependencies

.github/labeler.yml:

# フロントエンド関連
frontend:
  - 'src/components/**/*'
  - 'src/App.vue'
  - 'src/main.ts'
  - '**/*.vue'

# バックエンド・ドメイン関連
backend:
  - 'src/domain/**/*'
  - 'src/application/**/*'
  - 'src/infrastructure/**/*'

# ゲームロジック関連
game:
  - 'src/game/**/*'
  - 'src/cui/**/*'

# テスト関連
tests:
  - 'src/__tests__/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - 'vitest.config.ts'
  - 'src/test/**/*'

# ドキュメント関連
documentation:
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'
  - 'CLAUDE.md'
  - '**/*.md'

# 設定・インフラ関連
configuration:
  - '.github/**/*'
  - 'package.json'
  - 'tsconfig*.json'
  - 'vite.config.ts'
  - 'eslint.config.mjs'
  - '.gitignore'
  - '.npmrc'

# 依存関係
dependencies:
  - 'package.json'
  - 'package-lock.json'

fix: resolve lint warnings and add regression tests
  src/application/services/GameApplicationService.ts
  src/components/game/CharacterSelector.vue
  src/components/game/GameBoard.vue
  src/controllers/GameController.ts
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
  src/domain/entities/__tests__/Game.paranoid-state.test.ts
  src/domain/entities/__tests__/Game.regression.test.ts
  src/domain/services/GameTurnManager.ts
  src/domain/types/game.types.ts
  src/stores/gameStore.ts
Labels: frontend, backend, tests

feat: バランス調整(保険料低下・報酬増)とUI刷新
  .agent/workflows/finish_task.md
  docs/balance_report.md
  docs/implementation_plan.md
  docs/personas.md
  src/ai/PersonaGameRenderer.ts
  src/ai/Personas.ts
  src/ai/__tests__/Personas.test.ts
  src/cli/verify-balance.ts
  src/components/game/GameBoard.vue
  src/components/game/Hand.vue
  src/controllers/GameController.ts
  src/domain/constants/GameConstants.ts
  src/domain/constants/insurance.constants.ts
  src/domain/entities/__tests__/Game.insurance-simplified.test.ts
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/GameTurnManager.ts
  src/domain/services/InsurancePremiumCalculationService.ts
  src/domain/services/__tests__/InsurancePremiumCalculationService.test.ts
Labels: frontend, backend, tests, documentation

Updates
  css/index-CsYhwi82.css
  css/index-DDUm1-3V.css
  index.html
  js/MobileErrorHandler-BePzHwIXkHOX.js
  js/MobileErrorHandler-BePzHwIXkHOX.js.map
  js/MobileErrorHandler-ClZ5Ay6I7Ao1.js
  js/MobileErrorHandler-ClZ5Ay6I7Ao1.js.map
  js/game-logic-DGEiUYYYlkbt.js
  js/game-logic-DGEiUYYYlkbt.js.map
  js/game-logic-DW2FukcBo1b-.js
  js/game-logic-DW2FukcBo1b-.js.map
  js/index-BwqAbd-M.js
  js/index-BwqAbd-M.js.map
  js/index-YnlnKdwp.js
  js/index-YnlnKdwp.js.map
Labels: none

feat: ユーザーFB対応(UI改善・バランス調整・ダメージ緩和)
  package.json
  src/__tests__/integration/GameE2E_FullLoop.test.ts
  src/ai/PersonaGameRenderer.ts
  src/cli/verify-balance.ts
  src/components/game/Card.vue
  src/components/game/GameBoard.vue
  src/components/game/TutorialOverlay.vue
  src/controllers/GameController.ts
  src/domain/constants/GameConstants.ts
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/GameChallengeService.ts
  src/domain/types/game.types.ts
  src/stores/gameStore.ts
Labels: frontend, backend, tests, configuration, dependencies

Updates
  css/index-CLJQyJc0.css
  css/index-DDUm1-3V.css
  index.html
  js/MobileErrorHandler-5YT41A0BxqZ2.js
  js/MobileErrorHandler-5YT41A0BxqZ2.js.map
  js/MobileErrorHandler-ClZ5Ay6I7Ao1.js
  js/MobileErrorHandler-ClZ5Ay6I7Ao1.js.map
  js/game-logic-CWKI01AFA1uc.js
  js/game-logic-CWKI01AFA1uc.js.map
  js/game-logic-DGEiUYYYlkbt.js
  js/game-logic-DGEiUYYYlkbt.js.map
  js/index-BwqAbd-M.js
  js/index-BwqAbd-M.js.map
  js/index-D-l6ccKD.js
  js/index-D-l6ccKD.js.map
Labels: none

Refine Challenge Damage: Define penalty in card, update UI, fix logic
  docs/RULEBOOK.md
  src/__tests__/integration/GameLoop.v2.test.ts
  src/components/game/Card.vue
  src/domain/entities/__tests__/Game.insurance-type-selection.test.ts
  src/domain/services/CardFactory.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/__tests__/InsuranceDamageReduction.test.ts
Labels: frontend, backend, tests, documentation

Updates
  css/index-CLJQyJc0.css
  css/index-D_boXJr7.css
  index.html
  js/MobileErrorHandler-5YT41A0BxqZ2.js
  js/MobileErrorHandler-5YT41A0BxqZ2.js.map
  js/MobileErrorHandler-p2gYOoJnxybr.js
  js/MobileErrorHandler-p2gYOoJnxybr.js.map
  js/game-logic-BCCZzt2LXbN_.js
  js/game-logic-BCCZzt2LXbN_.js.map
  js/game-logic-CWKI01AFA1uc.js
  js/game-logic-CWKI01AFA1uc.js.map
  js/index-B6ld2jd-.js
  js/index-B6ld2jd-.js.map
  js/index-D-l6ccKD.js
  js/index-D-l6ccKD.js.map
Labels: none

feat: トップページにルールブックモーダル表示機能を追加
  docs/RULEBOOK.md
  src/components/layout/NavigationActions.vue
  src/components/layout/RulebookModal.vue
  src/domain/services/GameProgressService.ts
  src/domain/services/GameStageManager.ts
Labels: frontend, backend, documentation

Updates
  css/index-DLvXpV2o.css
  css/index-D_boXJr7.css
  index.html
  js/MobileErrorHandler-R1TliYqhxxBB.js
  js/MobileErrorHandler-R1TliYqhxxBB.js.map
  js/MobileErrorHandler-p2gYOoJnxybr.js
  js/MobileErrorHandler-p2gYOoJnxybr.js.map
  js/game-logic-BCCZzt2LXbN_.js
  js/game-logic-BCCZzt2LXbN_.js.map
  js/game-logic-Bxx5KxXJIXCp.js
  js/game-logic-Bxx5KxXJIXCp.js.map
  js/index-B6ld2jd-.js
  js/index-B6ld2jd-.js.map
  js/index-D59QsnMl.js
  js/index-D59QsnMl.js.map
  js/vendor-BMyQpWla.js
  js/vendor-BMyQpWla.js.map
  js/vendor-CwZoOl0N.js
  js/vendor-CwZoOl0N.js.map
  js/vue-vendor-C2HpI3kE.js
  js/vue-vendor-C2HpI3kE.js.map
  js/vue-vendor-Cmj67njg.js
  js/vue-vendor-Cmj67njg.js.map
Labels: none

fix: 不安定なテストを一時的に除外 - Game APIリファクタリング後に修正予定
  src/components/game/GameBoard.vue
  src/components/game/RewardCardSelector.vue
  src/stores/gameStore.ts
  vitest.config.ts
Labels: frontend, tests

Updates
  css/index-DLvXpV2o.css
  css/index-TT7B7W0R.css
  index.html
  js/MobileErrorHandler-CvTQ8DftjmpW.js
  js/MobileErrorHandler-CvTQ8DftjmpW.js.map
  js/MobileErrorHandler-R1TliYqhxxBB.js
  js/MobileErrorHandler-R1TliYqhxxBB.js.map
  js/index-BxFtS6vN.js
  js/index-BxFtS6vN.js.map
  js/index-D59QsnMl.js
  js/index-D59QsnMl.js.map
Labels: none

refactor: RulebookModalでdocs/RULEBOOK.mdを直接インポート - 二重管理を解消
  src/components/layout/RulebookModal.vue
Labels: frontend

Updates
  css/index-D6CttFI6.css
  css/index-TT7B7W0R.css
  index.html
  js/MobileErrorHandler-CvTQ8DftjmpW.js
  js/MobileErrorHandler-CvTQ8DftjmpW.js.map
  js/MobileErrorHandler-DkVHveB7gT4l.js
  js/MobileErrorHandler-DkVHveB7gT4l.js.map
  js/index-BxFtS6vN.js
  js/index-BxFtS6vN.js.map
  js/index-DhlwdCcG.js
  js/index-DhlwdCcG.js.map
Labels: none

fix: ゲーム体験改善 - ダメージエフェクト追加、表現改善、バランス調整
  .agent/artifacts/game_improvement_plan.md
  src/components/game/GameBoard.vue
  src/domain/constants/GameConstants.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/types/game.types.ts
Labels: frontend, backend, documentation

Updates
  css/index-BRKnAXEl.css
  css/index-D6CttFI6.css
  index.html
  js/MobileErrorHandler-2RHsR1MhYauL.js
  js/MobileErrorHandler-2RHsR1MhYauL.js.map
  js/MobileErrorHandler-DkVHveB7gT4l.js
  js/MobileErrorHandler-DkVHveB7gT4l.js.map
  js/game-logic-Bxx5KxXJIXCp.js
  js/game-logic-Bxx5KxXJIXCp.js.map
  js/game-logic-CTFs47IDoZa0.js
  js/game-logic-CTFs47IDoZa0.js.map
  js/index-DOPHm9Yb.js
  js/index-DOPHm9Yb.js.map
  js/index-DhlwdCcG.js
  js/index-DhlwdCcG.js.map
Labels: none

feat: 保険システム再設計 Phase 1 - 基盤実装
  docs/INSURANCE_REDESIGN.md
  src/components/game/GameBoard.vue
  src/components/game/RewardCardSelector.vue
  src/domain/entities/Game.ts
  src/domain/services/CardFactory.ts
  src/domain/types/card.types.ts
  src/stores/gameStore.ts
Labels: frontend, backend, documentation

Updates
  css/index-BRKnAXEl.css
  css/index-D7uBnlG5.css
  index.html
  js/MobileErrorHandler-2RHsR1MhYauL.js
  js/MobileErrorHandler-2RHsR1MhYauL.js.map
  js/MobileErrorHandler-DUsbGnLd7eJW.js
  js/MobileErrorHandler-DUsbGnLd7eJW.js.map
  js/game-logic-CTFs47IDoZa0.js
  js/game-logic-CTFs47IDoZa0.js.map
  js/game-logic-EdXqdTpH0kFY.js
  js/game-logic-EdXqdTpH0kFY.js.map
  js/index-D21guiDE.js
  js/index-D21guiDE.js.map
  js/index-DOPHm9Yb.js
  js/index-DOPHm9Yb.js.map
Labels: none

feat: Implement trigger-based insurance (Medical, Life, Disability, Income Protection) and integrate select dialog
  src/components/layout/RulebookModal.vue
  src/controllers/GameController.ts
  src/domain/__tests__/InsuranceTriggers.test.ts
  src/domain/entities/Game.ts
  src/domain/services/GameTurnManager.ts
Labels: frontend, backend, tests

Updates
  css/index-D5ki1sdO.css
  css/index-D7uBnlG5.css
  index.html
  js/MobileErrorHandler-B6CAgTSjbkd0.js
  js/MobileErrorHandler-B6CAgTSjbkd0.js.map
  js/MobileErrorHandler-DUsbGnLd7eJW.js
  js/MobileErrorHandler-DUsbGnLd7eJW.js.map
  js/game-logic-ColCa_4_ZAhI.js
  js/game-logic-ColCa_4_ZAhI.js.map
  js/game-logic-EdXqdTpH0kFY.js
  js/game-logic-EdXqdTpH0kFY.js.map
  js/index-CIlikiTn.js
  js/index-CIlikiTn.js.map
  js/index-D21guiDE.js
  js/index-D21guiDE.js.map
Labels: none

refactor: 貯蓄システム(savings)を削除し、ゲームをシンプル化
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/ai/Personas.ts
  src/cli/verify-balance.ts
  src/components/game/GameBoard.vue
  src/domain/__tests__/InsuranceTriggers.test.ts
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
  src/domain/entities/__tests__/Game.regression.test.ts
  src/domain/types/game.types.ts
  src/stores/gameStore.ts
Labels: frontend, backend, tests

Updates
  css/index-BETH_zbQ.css
  css/index-D5ki1sdO.css
  index.html
  js/MobileErrorHandler-B6CAgTSjbkd0.js
  js/MobileErrorHandler-B6CAgTSjbkd0.js.map
  js/MobileErrorHandler-BPDdHU66pE9l.js
  js/MobileErrorHandler-BPDdHU66pE9l.js.map
  js/game-logic-ColCa_4_ZAhI.js
  js/game-logic-ColCa_4_ZAhI.js.map
  js/game-logic-DIvFRaPVD7Ei.js
  js/game-logic-DIvFRaPVD7Ei.js.map
  js/index-CIlikiTn.js
  js/index-CIlikiTn.js.map
  js/index-L8ZOIxIL.js
  js/index-L8ZOIxIL.js.map
Labels: none

fix: AI勝率改善とゲームバランス調整 (Beginner: 52%, Inter: 80%, Adv: 84%)
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/ai/PersonaGameRenderer.ts
  src/ai/Personas.ts
  src/ai/__tests__/Personas.test.ts
  src/cli/verify-balance.ts
  src/components/game/Card.vue
  src/controllers/GameController.ts
  src/domain/constants/GameConstants.ts
  src/domain/entities/Game.ts
  src/domain/services/CardFactory.ts
  src/domain/services/GameChallengeService.ts
  src/domain/services/GameTurnManager.ts
Labels: frontend, backend, tests

Updates
  css/index-BETH_zbQ.css
  css/index-s6DcTLpW.css
  index.html
  js/MobileErrorHandler-BPDdHU66pE9l.js
  js/MobileErrorHandler-BPDdHU66pE9l.js.map
  js/MobileErrorHandler-C7mDlv_edZbx.js
  js/MobileErrorHandler-C7mDlv_edZbx.js.map
  js/game-logic-DIvFRaPVD7Ei.js
  js/game-logic-DIvFRaPVD7Ei.js.map
  js/game-logic-Deb4t0NUcgjj.js
  js/game-logic-Deb4t0NUcgjj.js.map
  js/index-Dnb-lUsM.js
  js/index-Dnb-lUsM.js.map
  js/index-L8ZOIxIL.js
  js/index-L8ZOIxIL.js.map
Labels: none

fix(ui): GUIでカードがドローされないバグを修正
  src/stores/gameStore.ts
Labels: none

Updates
  index.html
  js/MobileErrorHandler-C7mDlv_edZbx.js
  js/MobileErrorHandler-C7mDlv_edZbx.js.map
  js/MobileErrorHandler-Dmy9x2aVcAFs.js
  js/MobileErrorHandler-Dmy9x2aVcAFs.js.map
  js/index-Dnb-lUsM.js
  js/index-Dnb-lUsM.js.map
  js/index-wLIKq__V.js
  js/index-wLIKq__V.js.map
Labels: none

fix(core): チャレンジ選択前のドロー方式に戻す（GUI不具合修正）
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/controllers/GameController.ts
  src/domain/services/GameTurnManager.ts
  src/stores/gameStore.ts
Labels: backend, tests

Updates
  index.html
  js/MobileErrorHandler-DcJFsyUCFXpq.js
  js/MobileErrorHandler-DcJFsyUCFXpq.js.map
  js/MobileErrorHandler-Dmy9x2aVcAFs.js
  js/MobileErrorHandler-Dmy9x2aVcAFs.js.map
  js/game-logic-DZE_eo7VqpBe.js
  js/game-logic-DZE_eo7VqpBe.js.map
  js/game-logic-Deb4t0NUcgjj.js
  js/game-logic-Deb4t0NUcgjj.js.map
  js/index-C0Bmqk87.js
  js/index-C0Bmqk87.js.map
  js/index-wLIKq__V.js
  js/index-wLIKq__V.js.map
Labels: none

fix(core): 初期手札ドローの復活とターンごとのドローロジック統一
  src/domain/entities/Game.ts
Labels: backend

Updates
  index.html
  js/MobileErrorHandler-DcJFsyUCFXpq.js
  js/MobileErrorHandler-DcJFsyUCFXpq.js.map
  js/MobileErrorHandler-XPUeNcWIcBPN.js
  js/MobileErrorHandler-XPUeNcWIcBPN.js.map
  js/game-logic-ByI5Yhz-SVvB.js
  js/game-logic-ByI5Yhz-SVvB.js.map
  js/game-logic-DZE_eo7VqpBe.js
  js/game-logic-DZE_eo7VqpBe.js.map
  js/index-C0Bmqk87.js
  js/index-C0Bmqk87.js.map
  js/index-ClkkYsVF.js
  js/index-ClkkYsVF.js.map
Labels: none

fix(design): 課題選択後にドローする仕様に統一（ドキドキ感）
  src/__tests__/unit/domain/services/GameTurnManager.test.ts
  src/controllers/GameController.ts
  src/domain/entities/Game.ts
  src/domain/services/GameTurnManager.ts
  src/stores/gameStore.ts
Labels: backend, tests

Updates
  index.html
  js/MobileErrorHandler-D5VEgpnYkuvk.js
  js/MobileErrorHandler-D5VEgpnYkuvk.js.map
  js/MobileErrorHandler-XPUeNcWIcBPN.js
  js/MobileErrorHandler-XPUeNcWIcBPN.js.map
  js/game-logic-ByI5Yhz-SVvB.js
  js/game-logic-ByI5Yhz-SVvB.js.map
  js/game-logic-Deb4t0NUcgjj.js
  js/game-logic-Deb4t0NUcgjj.js.map
  js/index-BQDnDXbM.js
  js/index-BQDnDXbM.js.map
  js/index-ClkkYsVF.js
  js/index-ClkkYsVF.js.map
Labels: none

fix(ui): 勝利時の保険ダイアログをスキップ、ホームボタンを左上に移動
  src/App.vue
  src/domain/services/GameChallengeService.ts
Labels: frontend, backend

Updates
  css/index-5rLxcFDS.css
  css/index-s6DcTLpW.css
  index.html
  js/MobileErrorHandler-Blx9Vf9O7P7D.js
  js/MobileErrorHandler-Blx9Vf9O7P7D.js.map
  js/MobileErrorHandler-D5VEgpnYkuvk.js
  js/MobileErrorHandler-D5VEgpnYkuvk.js.map
  js/game-logic-By1xrPqnbUU8.js
  js/game-logic-By1xrPqnbUU8.js.map
  js/game-logic-Deb4t0NUcgjj.js
  js/game-logic-Deb4t0NUcgjj.js.map
  js/index-BQDnDXbM.js
  js/index-BQDnDXbM.js.map
  js/index-DgmCItaB.js
  js/index-DgmCItaB.js.map
Labels: none

feat(ui): トップ画面に浮遊パーティクル、スターダスト、シマーエフェクトを追加
  src/components/layout/AppHeader.vue
Labels: frontend

Updates
  css/index-5rLxcFDS.css
  css/index-BOM66ntH.css
  index.html
  js/MobileErrorHandler-Blx9Vf9O7P7D.js
  js/MobileErrorHandler-Blx9Vf9O7P7D.js.map
  js/MobileErrorHandler-DG75WLPkAPu5.js
  js/MobileErrorHandler-DG75WLPkAPu5.js.map
  js/index-B0IfRwFF.js
  js/index-B0IfRwFF.js.map
  js/index-DgmCItaB.js
  js/index-DgmCItaB.js.map
Labels: none

refactor(ui): 統計情報を削除し、ボタンを上部に配置
  src/components/layout/AppHeader.vue
  src/components/layout/NavigationActions.vue
Labels: frontend

Updates
  css/index-8uxhcIPS.css
  css/index-BOM66ntH.css
  index.html
  js/MobileErrorHandler-B-71vml0E5bU.js
  js/MobileErrorHandler-B-71vml0E5bU.js.map
  js/MobileErrorHandler-DG75WLPkAPu5.js
  js/MobileErrorHandler-DG75WLPkAPu5.js.map
  js/index-B0IfRwFF.js
  js/index-B0IfRwFF.js.map
  js/index-BtGKacss.js
  js/index-BtGKacss.js.map
Labels: none

feat: 報酬カード機能の削除とバランス調整、テスト修正 (v0.2.9)
  docs/design/GAME_DESIGN.md
  src/components/game/GameBoard.vue
  src/components/game/Hand.vue
  src/domain/entities/Game.ts
  src/domain/entities/__tests__/Game.dream_penalty.test.ts
  src/domain/entities/__tests__/Game.phase4.test.ts
  src/domain/services/ChallengeResolutionService.ts
  src/domain/services/GameChallengeService.ts
  vitest.config.ts
Labels: frontend, backend, tests, documentation

Updates
  css/index-8uxhcIPS.css
  css/index-DiRpxEqo.css
  index.html
  js/MobileErrorHandler-B-71vml0E5bU.js
  js/MobileErrorHandler-B-71vml0E5bU.js.map
  js/MobileErrorHandler-PN3XFxXAa19q.js
  js/MobileErrorHandler-PN3XFxXAa19q.js.map
  js/game-logic-By1xrPqnbUU8.js
  js/game-logic-By1xrPqnbUU8.js.map
  js/game-logic-DxIjJLcYY6ri.js
  js/game-logic-DxIjJLcYY6ri.js.map
  js/index-BmNji56z.js
  js/index-BmNji56z.js.map
  js/index-BtGKacss.js
  js/index-BtGKacss.js.map
Labels: none

feat: 報酬カード削除, ドリーム難易度調整, UI改善 (v0.2.9)
  docs/user/RULEBOOK.md
  src/components/game/Hand.vue
  src/domain/services/CardFactory.ts
  src/domain/services/GameChallengeService.ts
  src/stores/gameStore.ts
Labels: frontend, backend, documentation
